.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.whole {
    animation: 1.5s linear infinite rotation_animation;
    height: 100px;
    width: 100px;
}

@keyframes rotation_animation {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}

